body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", sans-serif;
  background-color: #0d4073;
  color: #ffffff;
  padding: 20px;
  background-image: url(./assets/bg-triangles.png);
  background-repeat: no-repeat;
}
.content{
  display: flex;
}
.content-rigth{
  width: 100%;
  max-width: 50%;
  font-size: 1.2em;
}
.content-left{
  margin-right: 20px;
  font-size: 1.2em;
}
.data{
  background-color: #79a6d2;
  text-align: center;
  margin-bottom: 0;
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.data h2 {
  color: #0d4073;
  padding-top: 30px;
  padding-bottom: 15px;
}
.data div {
  padding-bottom: 35px;
}
.content-results{
  display: flex;
}
.results{
  background-color: #a5d321;
  text-align: center;
  margin: 0;
  width: 100%;
  max-width: 50%;
}
.results h2{
  color: #0d4073;
  padding-top: 60px;
  padding-bottom: 35px;
}
.results div {
  padding-bottom: 60px;
  font-size: 38px;
}

.your-results{
  background-color: #c52d96;
  text-align: center;
  margin: 0;
  width: 100%;
  max-width: 50%;
  border-radius: 0 0 15px 0;
}
.your-results h2{
  color: #0d4073;
  padding-top: 60px;
  padding-bottom: 35px;
}
.your-results div{
  padding-bottom: 70px;
  font-size: 38px;
  
}

h1 {
  font-weight: normal;
  color: #c9d9e8;
  background-image: url(./assets/logo-ancert.svg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 3em;
}
h2 {
  font-weight: normal;
  color: #12ebfe;
  font-size: 1.5em;
}
li::marker {
  color: #12ebfe;
}

@media (max-width: 850px) {
  h1{
    font-size: 2.5em;
  }
}

@media (max-width: 768px) {
  h1{
    padding-top: 80px;
    background-position-x: left;
    background-size: initial;
    background-position-y: top;
  }
  .content{
    display: block;
  }
  .content-rigth{
    max-width: 100%;
  }
}